<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      type="text/javascript"
      src="https://app.sandbox.midtrans.com/snap/snap.js"
      data-client-key="<%= clientKey %>"></script>
  </head>
  <body>
    <input type="text" id="token" value="<%= token %>" hidden />
    <input
      type="text"
      id="request"
      value="<%= JSON.stringify(request) %>"
      hidden />
    <script src="/socket.io/socket.io.js" async></script>

    <script type="text/javascript">
      const token = document.getElementById("token").value;
      let getRequestBody = document.getElementById("request").value;
      const pasrsing = JSON.parse(getRequestBody);
      console.log("name: ", pasrsing.recipientsName);

      window.snap.pay(token, {
        onSuccess: async function (result) {
          /* set payment method and groos amount */
          let requestBody = JSON.parse(getRequestBody);
          requestBody.grossAmount = result.gross_amount;
          requestBody.uuid = result.transaction_id;
          requestBody.method = result.payment_type;
          requestBody.status = "PAID";
          requestBody.paymentSuccess = true;

          /* if success payment insert into database */
          const post = await fetch("/pay-now", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(requestBody),
          });
          console.log("success");
          console.log(result);
          let host =
            window.location.protocol +
            "//" +
            window.location.host +
            "/payment-success";
          console.log(host);
          window.location.replace(host);
        },
        onPending: async function (result) {
          /* set payment method and groos amount */
          let requestBody = JSON.parse(getRequestBody);
          requestBody.grossAmount = result.gross_amount;
          requestBody.uuid = result.transaction_id;
          requestBody.method = result.payment_type;
          requestBody.status = "PENDING";
          requestBody.paymentSuccess = false;

          /* if success payment insert into database */
          const post = await fetch("/pay-now", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(requestBody),
          });
          console.log("pending");
          let host =
            window.location.protocol +
            "//" +
            window.location.host +
            "/payment-pending";
          console.log(host);
          window.location.replace(host);
        },
        onError: function (result) {
          const host = window.location.origin;
          window.replace.location(`${host}/payment-failed`);
          console.log("error");
          console.log(result);
        },
        onClose: function () {
          console.log(
            "customer closed the popup without finishing the payment"
          );
        },
      });
    </script>
  </body>
</html>
